<!DOCTYPE html>
<html>
<head>
</head>
<body>

<% 3.times do %>
img = <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSmEDPIfD9TUIxPaS-FrF3KOxMKbFOKlvcbxikRVYkHIYcSpoJ9"></img>
<% end %>

</body>
</html>