"<!DOCTYPE html>
<html>
    <body>
    <form action='/candles' method='POST'>
       
            Message:
            <input type= 'text' name= 'img'>
            <input type= 'submit' value='submit'>
        </form>
    </body>
</html>"
end"














